<div class="command-doing-container">
  <div class="command-doing-container-content">
    <div class="command-doing-item details">
      <div class="details-title">投放口</div>
      <div class="details-content forms">
        <div class="form-item">
          <div class="form-item-title">编号：</div>
          <div class="form-item-value">
            <input type="text" readonly="true" id="node_drop_id" />
          </div>
        </div>
        <div class="form-item">
          <div class="form-item-title">RFID：</div>
          <div class="form-item-value">
            <input type="text" readonly="true" id="node_drop_rfid" />
          </div>
        </div>
        <div class="form-item">
          <div class="form-item-title">名称：</div>
          <div class="form-item-value">
            <input type="text" readonly="true" id="node_drop_name" />
          </div>
        </div>
        <div class="form-item">
          <div class="form-item-title">子类型：</div>
          <div class="form-item-value">
            <input type="text" readonly="true" id="node_drop_cantype" />
          </div>
        </div>
        <div class="form-item">
          <div class="form-item-title">是否有桶：</div>
          <div class="form-item-value">
            <input type="checkbox" id="start_has_can" />
          </div>
        </div>
        <div class="form-item">
          <div class="form-item-title">盖上桶盖：</div>
          <div class="form-item-value">
            <input type="checkbox" id="start_covered" />
          </div>
        </div>
      </div>
    </div>
    <div class="command-doing-item drop details">
      <div class="details-title">压实机</div>
      <div class="details-content forms">
        <div class="form-item">
          <div class="form-item-title">是否有桶：</div>
          <div class="form-item-value">
            <input type="checkbox" id="dest_has_can" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="buttons">
    <button class="button-blue-line" id="btn_command_compaction">启动</button>
  </div>
</div>
